<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>OfferBoat</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
	  <!-- Existing Google Auth configuration -->
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.455920054389-u3k16vjv6kus9bja2gj9cl0lb01rhmon</string>
				<string>com.googleusercontent.apps.455920054389-vteqohsq7vr4a5umh4r2tb4qlqu86t83</string>
			</array>
		</dict>
  <!-- New custom URL scheme for deep linking -->
   <dict>
    <key>CFBundleTypeRole</key>
    <string>Editor</string>
    <key>CFBundleURLName</key>
     <string>offerboat.app.com</string>
    <key>CFBundleURLSchemes</key>
    <array>
	 <string>offerboat</string> 
    </array>
  </dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>GIDClientID</key>
	<string>455920054389-vteqohsq7vr4a5umh4r2tb4qlqu86t83.apps.googleusercontent.com</string>
	<key>GIDRedirectURI</key>
	<string>com.googleusercontent.455920054389-vteqohsq7vr4a5umh4r2tb4qlqu86t83:/oauth2redirect/google</string>
	<key>GIDSignInClientID</key>
	<string>455920054389-vteqohsq7vr4a5umh4r2tb4qlqu86t83.apps.googleusercontent.com</string>
	<key>GOOGLE_MAPS_API_KEY</key>
	<string>AIzaSyApY6LAb4Hd_GCtOhfnm_QEn4nSVYno7Pw</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>www.offerboats.com</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<false/>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSRequiresCertificateTransparency</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>This app requires access to your camera so that you can upload profile pictures and if you are a boat owner you can add your boat images in your boat listings.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>This app requires access to your location so that we can show you boats near your location.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>This app requires access to your location so that we can show you boats near your location.</string>
	<key>NSLocationTemporaryUsageDescriptionDictionary</key>
	<string>This app requires access to your location so that we can show you boats near your location.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app requires access to your location so that we can show you boats near your location.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This app requires access to your microphone for voice features.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app requires access to your photo library so that you can upload profile pictures and if you are a boat owner you can add your boat images in your boat listings.</string>
	<key>UIAppFonts</key>
	<array>
		<string>AntDesign.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>FontAwesome6_Brands.ttf</string>
		<string>FontAwesome6_Regular.ttf</string>
		<string>FontAwesome6_Solid.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>Zocial.ttf</string>
		<string>Fontisto.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
